<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlanuara.ejercicioc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.main.MainActivity"
            android:label="@string/main_title"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="www.lanuaradiego.com"
                    android:pathPrefix="/pay" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.paymentmethod.PaymentMethodActivity"
            android:label="@string/paymentmethod_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".views.paymentmethod.cardissuer.CardIssuerActivity"
            android:label="@string/cardissuer_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".views.paymentmethod.installment.InstallmentActivity"
            android:label="@string/installment_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
    </application>
</manifest>